.about{
    &__container{
        row-gap: 2rem;
    }
    &__img{
        width: 280px;
        justify-self: center;
    }
    &__title{
        margin-bottom: $mb-1;
    }
    &__description{
        margin-bottom: $mb-2;
    }
    &__details{
        display: grid;
        row-gap: 1rem;
        margin-bottom: $mb-2-5;
        &-description{
            display: inline-flex;
            column-gap: .5rem;
            font-size: $small-font-size;
        }
        &-icon{
            font-size: 1rem;
            margin-top: .15rem;
            color: var(--first-color);
        }
    }
    .button{
        &-link{
            color: var(--first-color);
            font-weight: $font-medium;
        }
        &-link:hover .button-icon{
            transform: translateX(.25rem);
        }
    }
}

@media screen and (min-width: 767px) {
    .about{
        &__container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 992px) {
    .about{
        &__img{
            width: 380px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .about{
        &__container{
            column-gap: 7rem;
        }
    }
}






