.dark-theme {
    .steps__bg,
    .questions{
        background-color: var(--first-color);
    }
    .product__circle,
    .footer__subscribe{
        background-color: var(--container-color);
    }
    .scroll__header{
        box-shadow: 0 1px 4px hsla($hue, 4%, 4%, .3);
    }
}


